google-generativeai
openai-whisper
elevenlabs
edge-tts
sounddevice
soundfile
numpy
python-dotenv
pyautogui
pygetwindow
pycaw
comtypes
pillow
chromadb
sentence-transformers
langchain
langchain-google-genai
langchain-core
ddgs
requests
opencv-python
